.book-preview {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(32, 36, 99, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 8px;
    margin: 10px;
    min-width: 14.5em;
    transition: 0.2s ease;
    cursor: pointer;
    & .img-container {
        padding-top: 15px;
        min-height: min-content;
        
        & img {
            object-fit: cover;
            width: 100%;
        }
    }
    
    & a{
        color: unset;
    }
    
    &:hover{
        // transform: scale(1.01);
        border: 1px solid rgba(25, 25, 26, 0.719);
         
    }
}
